.navBar {
    width: 100vw;
    background-color:blueviolet;
    color: white;
    font-size: 24px;
    padding: 5px;

}

.cstTable{

    width: 50vw;
    background-color: aliceblue;
    color: rgb(7, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
    margin: auto;
    margin-top: 35px;


}

.cstTable th{

    width: 50vw;
    background-color:blueviolet;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;


}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

nav ul li {
    list-style-type: none;
    margin-right: 1em;
}

nav ul li:hover {
    color: rgba(0,0,0,0.705)
}

.welcomeSection {
    text-align: center;
    letter-spacing: 2px;
    background-color: aliceblue;
    padding: 10px;
}